      </main>
    </div>
    <script src="/js/storage.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/alarm.js"></script>
    <% if (typeof pageScript !== 'undefined' && pageScript) { %>
      <script src="<%= pageScript %>"></script>
    <% } %>
  </body>
</html>
